<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joker.mapper.CgfhzhKjcgJcqkMapper">
  <resultMap id="BaseResultMap" type="com.joker.entity.CgfhzhKjcgJcqk">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="kjcg_id" jdbcType="VARCHAR" property="kjcgId" />
    <result column="bspmc" jdbcType="VARCHAR" property="bspmc" />
    <result column="jcjgmc" jdbcType="VARCHAR" property="jcjgmc" />
    <result column="jclb_id" jdbcType="VARCHAR" property="jclbId" />
    <result column="jcbgbh" jdbcType="VARCHAR" property="jcbgbh" />
    <result column="wtdw" jdbcType="VARCHAR" property="wtdw" />
    <result column="bgqfrq" jdbcType="TIMESTAMP" property="bgqfrq" />
    <result column="jcbgjl" jdbcType="VARCHAR" property="jcbgjl" />
    <result column="fjmc" jdbcType="VARCHAR" property="fjmc" />
    <result column="fjdz" jdbcType="VARCHAR" property="fjdz" />
    <result column="fj_id" jdbcType="VARCHAR" property="fjId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, kjcg_id, bspmc, jcjgmc, jclb_id, jcbgbh, wtdw, bgqfrq, jcbgjl, fjmc, fjdz, fj_id
  </sql>
  <select id="findList" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cgfhzh_kjcg_jcqk
  </select>
  <insert id="insert" parameterType="com.joker.entity.CgfhzhKjcgJcqk">
    insert into cgfhzh_kjcg_jcqk (id, kjcg_id, bspmc, 
      jcjgmc, jclb_id, jcbgbh, 
      wtdw, bgqfrq, jcbgjl, 
      fjmc, fjdz, fj_id)
      values
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.id,jdbcType=VARCHAR}, #{item.kjcgId,jdbcType=VARCHAR}, #{item.bspmc,jdbcType=VARCHAR},
      #{item.jcjgmc,jdbcType=VARCHAR}, #{item.jclbId,jdbcType=VARCHAR}, #{item.jcbgbh,jdbcType=VARCHAR},
      #{item.wtdw,jdbcType=VARCHAR}, #{item.bgqfrq,jdbcType=TIMESTAMP}, #{item.jcbgjl,jdbcType=VARCHAR},
      #{item.fjmc,jdbcType=VARCHAR}, #{item.fjdz,jdbcType=VARCHAR}, #{item.fjId,jdbcType=VARCHAR})
    </foreach>
  </insert>
</mapper>